<!-- <div class="maana">
    <div class="maana-vifupi">
        <h2 class="h2" id="maana-vifupi" style="font-size: 16px;">Maana ya 1, 1X, 2, X2, 12 kwenye Betting</h2>
        <ul>
            <li>
                <b class="brown">1:</b> kwenye betting <b>1</b> inasimama kama <b>Home/Timu ya nyumbani.</b> Kwa kuweka <b>1</b> hapa tunatabiri timu ya nyumbani kushinda.
            </li>
            <li>
                <b class="brown">X:</b> kwenye betting <b>X</b> inasimama kama <b>Draw/Suluhu.</b> Kwa kuweka <b>X</b> hapa tunatabiri hiyo match kutoa droo.
            </li>
            <li>
                <b class="brown">2:</b> kwenye betting <b>2</b> inasimama kama <b>Away/Timu ya ugenini.</b> Kwa kuweka <b>2</b> hapa tunatabiri timu ya ugenini kushinda.
            </li>
            <li>
                <b class="brown">1X:</b> kwenye betting <b>1X</b> inasimama kama <b>Double Chance Home/Draw.</b> Kwa kuweka <b>1X</b> hapa tunatabiri timu ya nyumbani kushinda au kutoa droo. Ikishinda mkeka wetu umetiki, pia ikitoa droo mkeka wetu umetiki.
            </li>
            <li>
                <b class="brown">X2:</b> kwenye betting <b>X2</b> inasimama kama <b>Double Chance Draw/Away.</b> Kwa kuweka <b>X2</b> hapa tunatabiri timu ya ugenini kutoa droo au kushinda. Ugenini akishinda mkeka wetu umetiki, pia akitoa droo mkeka wetu umetiki.
            </li>
        </ul>
    </div>

    <div class="maana-gg">
        <h2 class="h2" id="maana-gg" style="font-size: 16px;">Maana ya BTS, GG na NG kwenye Betting</h2>
        <p class="p">Hapa tunataabiri iwapo kwenye hii match pande zote mbili zitafungana ama la!</p>
        <ul>
            <li>
                <b class="brown">GG:</b> kwenye betting <b>GG</b> inasimama kama <b>Yes</b>, Kwa kuweka <b>GG</b> hapa tunatabiri pande zote zitafungana. Mfano wa matokeo ya <b>GG</b> ni: <b>1:1, 2:1, 2:2, 3:1, 3:2, 3:3, 1:2, 1:3, 2:3 n.k.</b>
            </li>
            <li>
                <b class="brown">BTS:</b> BTS na GG ni kitu kimoja, inasimama kama <b>Both Teams To Score? - Yes</b>, Kwa kuweka <b>BTS</b> hapa tunatabiri pande zote zitafungana. Mfano wa matokeo ya <b>GG</b> ni: <b>1:1, 2:1, 2:2, 3:1, 3:2, 3:3, 1:2, 1:3, 2:3 n.k.</b>
            </li>
            <li>
                <b class="brown">NG:</b> kwenye betting <b>NG</b> inasimama kama <b>No</b>, Kwa kuweka <b>NG</b> hapa tunatabiri hawatafungana au pande moja ndo itafunga tu. Mfano wa matokeo ya <b>NG</b> ni: <b>0:0, 1:0, 2:0, 3:0, 0:1, 0:2, 0:3 n.k.</b>
            </li>
        </ul>
    </div>

    <div class="maana1st">
        <h2 class="h2" id="maana" style="font-size: 16px;">Maana ya 1st Half Multigoals</h2>
        <p class="p">
            Hapa tunatabiri idadi ya magoli yatakayofungwa kipindi cha kwanza.
        </p>
        <ul>
            <li><b class="brown">1st Half Multigoals: 1 - 2:</b> Hapa tunatabiri lifungwe goli moja au
                mawili kipindi cha kwanza. Yakizidi mawili tumepoteza. Mkeka wetu utakuwa umetiki
                yakitokea
                matokeo yafuatayo kipindi cha kwanza, <b>1:0, 1:1, 2:0, 0:1 na 0: 2</b></li>

            <li><b class="brown">1st Half Multigoals: 1 - 3:</b> Hapa tunatabiri lifungwe goli mpaka
                matatu
                kipindi cha kwanza. Yakizidi matatu tumepoteza. Mkeka wetu utakuwa umetiki yakitokea
                matokeo
                yafuatayo kipindi cha kwanza, <b>1:0, 1:1, 2:0, 3:0, 2:1 0:1, 0: 2, 1:2 na 0:3</b></li>
        </ul>
    </div>

    <div class="maanaHome">
        <h2 class="h2" id="maana" style="font-size: 16px;">Maana ya Home / Away Multigoals</h2>
        <p class="p">
            Hapa tunatabiri idadi ya magoli yatakayofungwa na team ya Home au Away ndani ya dakika 90+
            za mchezo. Hii haijalishi atashinda, atadroo au atapoteza ila tunachoangalia ni apate goli
            au magoli ndani ya range tulioiweka.
        </p>
        <ul>
            <li>
                <b class="brown">Hometeam Multigoals: 1 - 2:</b>
                Hapa tunatabiri team ya nyumbani kupata goli moja au mawili. Team ya nyumbani ikizidisha
                zaidi ya magoli mawili tumepoteza.
            </li>
            <li>
                <b class="brown">Awayteam Multigoals: 1 - 2:</b>
                Hapa tunatabiri team ya ugenini kupata goli moja au mawili. Team ya ugenini ikizidisha
                zaidi ya magoli mawili tumepoteza.
            </li>
            <li>
                <b class="brown">Hometeam Multigoals: 1 - 3:</b>
                Hapa tunatabiri team ya nyumbani kupata goli moja, mawili ama matatu. Team ya nyumbani
                ikizidisha
                zaidi ya magoli matatu tumepoteza.
            </li>
            <li>
                <b class="brown">Awayteam Multigoals: 1 - 3:</b>
                Hapa tunatabiri team ya ugenini kupata goli moja, mawili ama matatu. Team ya ugenini
                ikizidisha
                zaidi ya magoli matatu tumepoteza.
            </li>
        </ul>
    </div>

    <div class="maanaRanges">
        <h2 class="h2" id="maana" style="font-size: 16px;">Maana ya Total Goal Rangess</h2>
        <p class="p">
            Hapa tunatabiri idadi ya magoli yatakayofungwa na teams zote ndani ya dakika 90+
            za mchezo.
        </p>
        <ul>
            <li>
                <b class="brown">Total Goal Rangess: 2 - 4:</b>
                Hapa tunatabiri jumla ya magoli yote kwenye match yachezee kwenye range ya mawili hadi
                manne, mfano: <b>1:1, 2:0, 2:1, 2:2, 3:0, 3:1, 0:2, 1:2, 0:3, 1:3, 0:4</b>. Jumla ya
                magoli yakizidi manne tumepoteza.
            </li>
            <li>
                <b class="brown">Total Goal Rangess: 2 - 5:</b>
                Hapa tunatabiri jumla ya magoli yote kwenye match yachezee kwenye range ya mawili hadi
                matano. Jumla ya magoli yakizidi matano tumepoteza.
            </li>
        </ul>
    </div>

    <div class="maanaBands">
        <h2 class="h2" id="maana" style="font-size: 16px;">Maana ya Goal Bands</h2>
        <p class="p">
            Hapa tunatabiri idadi ya magoli yatakayofungwa na teams zote ndani ya dakika 90+
            za mchezo.
        </p>
        <ul>
            <li>
                <b class="brown">Goal Bands: 2 - 4:</b>
                Hapa tunatabiri jumla ya magoli yote kwenye match yachezee kwenye range ya mawili hadi
                manne, mfano: <b>1:1, 2:0, 2:1, 2:2, 3:0, 3:1, 0:2, 1:2, 0:3, 1:3, 0:4</b>. Jumla ya
                magoli yakizidi manne tumepoteza.
            </li>
            <li>
                <b class="brown">Goal Bands: 2 - 5:</b>
                Hapa tunatabiri jumla ya magoli yote kwenye match yachezee kwenye range ya mawili hadi
                matano. Jumla ya magoli yakizidi matano tumepoteza.
            </li>
        </ul>
    </div>

    <div class="maanaSentOff">
        <h2 class="h2" id="maana" style="font-size: 16px;">Maana ya Player Sent off?</h2>
        <p class="p">
            <b>Player sent off?</b> Hii ni bet ya kuchagua iwapo kwenye mchezo mzima itatokea mchezaji
            kutolewa nje kwa red card ama la!.
        </p>
        <ul>
            <li>
                <b class="brown">Player sent-off? - No:</b>
                Hapa tunatabiri kuwa hakutakuwa na mchezaji atakae tolewa nje kwa red card. "No" ni
                rahisi kushinda na odds zake ziko chini kidogo.
            </li>
            <li>
                <b class="brown">Player sent-off - Yes:</b>
                Hapa unakubali kuwa kwenye mchezo mzima kutakuwa na red card. "Yes" ni ngumu na ina odds
                kubwa sana.
            </li>
        </ul>
    </div>
</div> -->