<div>
    <h2 class="h2" style="font-size: 16px;">Entenda Under/Over 2.5 nas Apostas ⚽</h2>
    <p class="p">
        <b class="brown">Over 2.5:</b> No mercado Over 2.5, você aposta que haverá três ou mais golos na partida. Resultados vencedores incluem: <b>2:1, 2:2, 3:0, 3:1, 3:2, 3:3, 4:0, 4:1, 4:2, 4:3, 4:4, 1:2, 0:3, 1:3, 2:3, 0:4, 1:4, 2:4, 3:4, etc</b>. Qualquer resultado com 3 ou mais golos totais garante sua vitória.
    </p>
    <p class="p">
        <b class="brown">Under 2.5:</b> No mercado Under 2.5, você aposta que haverá no máximo dois golos na partida. Apenas estes resultados são vencedores: <b>0:0, 1:0, 1:1, 2:0, 0:1 e 0:2</b>. Três ou mais golos totais significam aposta perdida.
    </p>
</div>