<div>
    <h2 class="h2" style="font-size: 16px;">O Que é Under/Over 1.5 nas Apostas?</h2>
    <p class="p">
        <b class="brown">Over 1.5:</b> No mercado Over 1.5, você aposta que haverá dois ou mais golos na partida. Resultados vencedores incluem: <b>1:1, 2:0, 0:2, 2:1, 1:2, 2:2, 3:0, 3:1, 3:2, 3:3, etc</b>
    </p>
    <p class="p">
        <b class="brown">Under 1.5:</b> No mercado Under 1.5, você aposta que haverá menos de dois golos na partida. Apenas três resultados são vencedores: <b>0:0, 1:0, 0:1</b>. Qualquer outro resultado significa aposta perdida.
    </p>
</div>