<select name="bet" id="p_option" required>
    <option value="0">*select bet option</option>
    <option value="1st Half. Over 0.5">1st Half - Over 0.5</option>
    <option value="1st Half. Under 1.5">1st Half - Under 1.5</option>
    <option value="1st Half DC. 12">1st Half - DC 12</option>
    <option value="Home Win">** Home Win **</option>
    <option value="Away Win">** Away Win **</option>
    <option value="1/1">HT/FT 1/1</option>
    <option value="2/2">HT/FT 2/2</option>
    <option value="1X & GG">1X & YES</option>
    <option value="X2 & GG">X2 & YES</option>
    <option value="12 & GG">12 & YES</option>
    <option value="1 & Over 1.5">1 & Over 1.5</option>
    <option value="1 & Over 2.5">1 & Over 2.5</option>
    <option value="2 & Over 1.5">2 & Over 1.5</option>
    <option value="2 & Over 2.5">2 & Over 2.5</option>
    <option value="1 & GG">1 & GG</option>
    <option value="2 & GG">2 & GG</option>
    <option value="1X">DC 1X</option>
    <option value="X2">DC X2</option>
    <option value="12">DC 12</option>
    <option value="Over 1.5">Over 1.5</option>
    <option value="Over 2.5">Over 2.5</option>
    <option value="Under 3.5">Under 3.5</option>
    <option value="GG & Over 2.5">GG & Over 2.5</option>
    <option value="Home Total. Over 1.5">** Home: Over 1.5 **</option>
    <option value="Away Total. Over 1.5">** Away: Over 1.5 **</option>
    <option value="GG">GG - Yes</option>
</select>