<!-- 888bet Section -->
<li class="list-kampani">
    <div class="card">
        <img src="/imgs/kampuni/888bet.webp" loading="lazy" class="card-img-top" alt="Bónus 888bet Moçambique"
            onclick="window.open('/888bet/register')">
        <div class="card-body">
            <div class="card-title ktitle">888bet Moçambique</div>
            <p class="card-text">888bet é atualmente a maior casa de apostas em Moçambique para apostas desportivas, jackpots e investimentos.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Grande variedade de mercados de apostas</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bónus de 100% para novos clientes + 1.000 MT grátis no Aviator</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bónus acumulativo para cada betslip com duas ou mais seleções (bónus pago em dinheiro real)</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> BetBuilder disponível. Use o BetBuilder para combinar várias apostas num único jogo (ótima oportunidade para odds mais altas)</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Aviator CHUVA 🌧 - APOSTAS GRÁTIS DIÁRIAS! e 100.000 MT Semanais!</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Ampla seleção de jogos de Casino</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Website e App rápidos para apostas sem travamentos</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Oferta especial AVIATOR ✈ - Receba aposta grátis até 1.000 MT no primeiro depósito!</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Depósitos e levantamentos em todas as operadoras móveis de Moçambique</li>
        </ul>
        <div class="card-body link-cont">
            <a href="/888bet/register" rel="nofollow noopener" target="_blank" class="card-link">Registar Agora</a>
            <a href="/888bet/register" rel="nofollow noopener" target="_blank" class="card-link">Bónus 100%</a>
        </div>
    </div>
</li>

<!-- Betway Section -->
<li class="list-kampani">
    <div class="card">
        <img src="/imgs/kampuni/bway.webp" class="card-img-top" alt="Bónus Betway Moçambique"
            onclick="window.open('/betway/register')">
        <div class="card-body">
            <div class="card-title ktitle">BetWay Moçambique</div>
            <p class="card-text">Entre as melhores casas de apostas em Moçambique e no mundo, a Betway lidera o caminho.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Uma das maiores e mais confiáveis casas de apostas do mundo</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Extensa variedade de mercados de apostas</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bónus de 150% para novos clientes</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Maior Jackpot em Moçambique. Ganhe até 15.000.000 MT</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Prémios mensais de 10 milhões</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Cash-out disponível 24/7</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> BetBuilder disponível para múltiplas apostas no mesmo jogo</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bónus especiais às terças e sextas. Deposite e ganhe dinheiro real, FreeBets e outros prémios</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Depósitos e levantamentos em todas as operadoras móveis</li>
        </ul>
        <div class="card-body link-cont">
            <a href="/betway/register" rel="nofollow noopener" target="_blank" class="card-link">Registar Agora</a>
            <a href="/betway/register" rel="nofollow noopener" target="_blank" class="card-link">Bónus 150%</a>
        </div>
    </div>
</li>

<!-- Parimatch Section -->
<li class="list-kampani">
    <div class="card">
        <img src="/imgs/kampuni/bway.webp" loading="lazy" class="card-img-top" alt="Bónus Parimatch Moçambique"
            onclick="window.open('/pmatch/register')">
        <div class="card-body">
            <div class="card-title ktitle">Parimatch Moçambique</div>
            <p class="card-text">Hoje temos outra excelente casa de apostas para apostas desportivas e casino online. A Parimatch é uma das maiores casas de apostas do mundo, com presença forte em Moçambique. <br><br>
                A Parimatch oferece:</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Grande variedade de mercados de apostas</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Bónus de 150% para novos clientes</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Cashback de 5% em todas as apostas</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Cashout disponível 24/7</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Registo rápido e simples</li>
            <li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Depósitos e levantamentos em todas as operadoras móveis</li>
        </ul>
        <div class="card-body link-cont">
            <a href="/pmatch/register" rel="nofollow noopener" target="_blank" class="card-link">Registar Agora</a>
            <a href="/pmatch/register" rel="nofollow noopener" target="_blank" class="card-link">Bónus 150%</a>
        </div>
    </div>
</li>