<div class="aff">
    <div class="comp"><b>888BET Moçambique</b></div>
    <div class="affh4">
        <i class="fa-solid fa-circle-check"></i>
        Bónus de 100% | Oferta de Boas-vindas
    </div>
    <div class="affh4">
        <i class="fa-solid fa-circle-check"></i>
        Até 1000% de Bónus no seu Betslip
    </div>
    <div class="affh4">
        <i class="fa-solid fa-circle-check"></i>
        Ganhe Prémio Jackpot até 15.000.000 MT
    </div>
    <div class="affh4">
        <i class="fa-solid fa-circle-check"></i>
        Oferta Aviator. FreeBets Todos os Dias
    </div>
    <div class="affh4">
        <i class="fa-solid fa-circle-check"></i>
        Odds competitivas nos principais desportos com o BetBuilder
    </div>
    <div class="sasa">
        <button onclick="window.open('/betway-tz/register')"><i class="fa-solid fa-user"></i> CLIQUE PARA REGISTAR &nbsp;
            <i class="fa-solid fa-square-arrow-up-right"></i></button>
        <br>
    </div>
</div>