<div class="ad pmatchtz" onclick="window.open('/888bet/register')">
    <img src="/imgs/100-offer.webp" height="227" style="height: 227px; width: 98%;" alt="888Bet | B贸nus de 100% no primeiro dep贸sito">
    <div class="cap" style="width: 98%;">Duplique seu primeiro dep贸sito!</b> Receba <b>B贸nus de 100%</b> instantaneamente ao depositar</div>
</div>