<footer>
    <div class="left">
        <h3>Moçambique Apostas</h3>
        <h4 class="rights">©
            <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados
        </h4>
    </div>
    <div class="footer">
        <div class="leftside">
            <h4 class="h4">Channels & Contacts</h4>
            <ul style="list-style: none;">
                <li><a href="https://whatsapp.com/channel/0029Varb8MsFcow7AHYTL42h" target="_blank"><i
                            class="fa-brands fa-whatsapp"></i> WhatsApp</a></li>
                <li><a href="http://t.me/mkeka_wa_leo" target="_blank"><i class="fa-brands fa-telegram"></i>
                        Telegram</a></li>
            </ul>
            <h4 class="h4">Business</h4>
            <ul style="list-style: none;">
                <li><a href="mailto:support@mozapostas.com"><i class="fa-regular fa-envelope"></i> Email Us</a></li>
            </ul>
        </div>
        <div class="middle">
            <h4 class="h4">Prognósticos de Hoje</h4>
            <ul style="list-style: none;">
                <li><a href="/tips/mega-odds-de-hoje"><i class="fa-solid fa-futbol"></i> Tips | Mega Odds de Hoje</a></li>
                <li>
                    <a href="/tips/over-15"><i class="fa-solid fa-futbol"></i> Tips | Over 1.5 Golos</a>
                </li>
                <li><a href="/tips/over-25"><i class="fa-solid fa-futbol"></i> Tips | Over 2.5 Golos</a></li>
                <li><a href="/tips/over-05-first-half"><i class="fa-solid fa-futbol"></i> Tips | Over 0.5 1st Half</a></li>
                <li><a href="/tips/vip"><i class="fa-solid fa-futbol"></i> Sure 3 | Betslip VIP de Hoje</a></li>
                <li><a href="/#supa-de-hoje"><i class="fa-solid fa-futbol"></i> MIXBET Tips</a></li>
            </ul>
        </div>
        <div class="rightside">
            <h4 class="h4">Ofertas de Casas de Apostas</h4>
            <ul style="list-style: none;">
                <li><a href="/888bet/register" target="_blank"><i class="fa-solid fa-hand-holding-dollar"></i> Ofertas | 888Bet Moçambique</a></li>
                <li><a href="/betway/register" target="_blank"><i class="fa-solid fa-hand-holding-dollar"></i> Ofertas | BetWay Moçambique</a></li>
                <li><a href="/22bet/register" target="_blank"><i class="fa-solid fa-hand-holding-dollar"></i> Ofertas | 22Bet Moçambique</a></li>
                <li><a href="/betwinner/register" target="_blank"><i class="fa-solid fa-hand-holding-dollar"></i> Ofertas | BetWinner Moçambique</a></li>
            </ul>
        </div>
    </div>
</footer>
<script>
</script>