<header>
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          MOZ APOSTAS
          <span>Moçambique Hoje Prognósticos de Futebol</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <b class="navbold"><a href="/tips/over-15">⚽ Over 1.5 Golos Tips</a></b> <br>
            <b class="navbold"><a href="/tips/over-25">⚽ Over 2.5 Golos Tips</a></b> <br>
            <b class="navbold"><a href="/tips/over-05-first-half">⚽ Over 0.5 Golos 1st Half Tips</a></b> <br>
            <b class="navbold"><a href="/tips/mega-odds-de-hoje">⚽ Mega Odds de Hoje</a></b> <br>
            <b class="navbold"><a href="/tips/vip">⚽ Sure 3 | Betslip de Hoje</a></b> <br>
            <b class="navbold"><a href="/#supa-de-hoje">⚽ MixBet de Hoje</a></b> <br>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>