<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><b style="font-size: 16px;">OFERTA AVIATOR | 50 VOOS GR츼TIS 游댠</b></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align: justify;">
        Aproveite j치 esta Oferta de Boas-vindas e garanta seus 50 Voos Gr치tis no Aviator! Jogue, multiplique seus ganhos e fa칞a levantamentos instant칙neos. N칚o perca tempo - comece a voar mais alto e ganhe dinheiro real agora mesmo. Cadastre-se e receba sua oferta especial! <br>
        <div style="width: 100%; height: fit-content;">
          <img src="/imgs/avi-50.webp" alt="888Bet | Oferta Aviator - 50 Voos Gr치tis para Novos Registos" style="width: 100%;" onclick="window.open('/888bet/register')">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="betBtn" class="btn btn-primary" style="background-color: #fc6200; color: black; padding: 14px 20px;"><b>RECEBER 50 VOOS GR츼TIS</b></button>
      </div>
    </div>
  </div>
</div>

<script>
  // Function to show the modal after 30 seconds
  function showDelayedModal() {
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
    myModal.show();
  }

  // Set a timeout to call the function after 20 seconds
  setTimeout(showDelayedModal, 20000);

  // Add event listener to the button for opening an external link
  document.getElementById('betBtn').addEventListener('click', function() {
    window.open('/888bet/register');
  });
</script>