<div class="maana">
    <div class="maana-vifupi">
        <h2 class="h2" id="maana-vifupi" style="font-size: 16px;">Significado de 1, 1X, 2, X2, 12 nas Apostas</h2>
        <ul>
            <li>
                <b class="brown">1</b> nas apostas <b>1</b> significa <b>Home</b>. Ao selecionar <b>1</b>, você está apostando na vitória do time da casa.
            </li>
            <li>
                <b class="brown">X</b> nas apostas <b>X</b> significa <b>Draw</b>. Ao selecionar <b>X</b>, você está apostando que o jogo terminará empatado.
            </li>
            <li>
                <b class="brown">2</b> nas apostas <b>2</b> significa <b>Away</b>. Ao selecionar <b>2</b>, você está apostando na vitória do time visitante.
            </li>
            <li>
                <b class="brown">1X</b> nas apostas <b>1X</b> significa <b>Double Chance Home/Draw</b>. Ao selecionar <b>1X</b>, você ganha se o time da casa vencer ou se houver empate.
            </li>
            <li>
                <b class="brown">X2</b> nas apostas <b>X2</b> significa <b>Double Chance Draw/Away</b>. Ao selecionar <b>X2</b>, você ganha se houver empate ou se o time visitante vencer.
            </li>
        </ul>
    </div>

    <div class="maana-gg">
        <h2 class="h2" id="maana-gg" style="font-size: 16px;">Significado de BTTS, GG e NG nas Apostas</h2>
        <p class="p">Neste mercado, você aposta se ambos os times marcarão gols durante a partida!</p>
        <ul>
            <li>
                <b class="brown">GG</b> nas apostas <b>GG</b> significa <b>Yes</b>. Ao selecionar <b>GG</b>, você está apostando que ambos os times marcarão. Exemplos de resultados <b>GG</b>: <b>1:1, 2:1, 2:2, 3:1, 3:2, 3:3, 1:2, 1:3, 2:3 etc.</b>
            </li>
            <li>
                <b class="brown">BTTS</b> BTTS e GG são a mesma coisa, significa <b>Both Teams To Score? - Yes</b>. Ao selecionar <b>BTTS</b>, você está apostando que ambos os times marcarão. Exemplos de resultados são os mesmos do <b>GG</b>.
            </li>
            <li>
                <b class="brown">NG</b> nas apostas <b>NG</b> significa <b>No</b>. Ao selecionar <b>NG</b>, você está apostando que um ou nenhum time marcará. Exemplos de resultados <b>NG</b>: <b>0:0, 1:0, 2:0, 3:0, 0:1, 0:2, 0:3 etc.</b>
            </li>
        </ul>
    </div>

    <div class="maana1st">
        <h2 class="h2" id="maana" style="font-size: 16px;">Significado de 1st Half Multigoals</h2>
        <p class="p">
            Aqui você aposta na quantidade de gols que serão marcados no primeiro tempo.
        </p>
        <ul>
            <li><b class="brown">1st Half Multigoals: 1 - 2</b> Aqui você aposta que haverá um ou dois gols no primeiro tempo. Se houver mais de dois gols, a aposta é perdida. Sua aposta será vencedora se ocorrerem os seguintes resultados no primeiro tempo: <b>1:0, 1:1, 2:0, 0:1 e 0:2</b></li>

            <li><b class="brown">1st Half Multigoals: 1 - 3</b> Aqui você aposta que haverá até três gols no primeiro tempo. Se houver mais de três gols, a aposta é perdida. Sua aposta será vencedora se ocorrerem os seguintes resultados no primeiro tempo: <b>1:0, 1:1, 2:0, 3:0, 2:1, 0:1, 0:2, 1:2 e 0:3</b></li>
        </ul>
    </div>

    <div class="maanaHome">
        <h2 class="h2" id="maana" style="font-size: 16px;">Significado de Home / Away Multigoals</h2>
        <p class="p">
            Aqui você aposta na quantidade de gols que serão marcados pelo time Home (casa) ou Away (visitante) nos 90+ minutos da partida. Não importa se o time vence, empata ou perde - apenas consideramos os gols marcados dentro do intervalo selecionado.
        </p>
        <ul>
            <li>
                <b class="brown">Hometeam Multigoals: 1 - 2</b>
                Aqui você aposta que o time da casa marcará um ou dois gols. Se o time da casa marcar mais de dois gols, a aposta é perdida.
            </li>
            <li>
                <b class="brown">Awayteam Multigoals: 1 - 2</b>
                Aqui você aposta que o time visitante marcará um ou dois gols. Se o time visitante marcar mais de dois gols, a aposta é perdida.
            </li>
            <li>
                <b class="brown">Hometeam Multigoals: 1 - 3</b>
                Aqui você aposta que o time da casa marcará um, dois ou três gols. Se o time da casa marcar mais de três gols, a aposta é perdida.
            </li>
            <li>
                <b class="brown">Awayteam Multigoals: 1 - 3</b>
                Aqui você aposta que o time visitante marcará um, dois ou três gols. Se o time visitante marcar mais de três gols, a aposta é perdida.
            </li>
        </ul>
    </div>

    <div class="maanaRanges">
        <h2 class="h2" id="maana" style="font-size: 16px;">Significado de Total Goal Ranges</h2>
        <p class="p">
            Aqui você aposta na quantidade total de gols que serão marcados por ambos os times nos 90+ minutos da partida.
        </p>
        <ul>
            <li>
                <b class="brown">Total Goal Ranges: 2 - 4</b>
                Aqui você aposta que o total de gols na partida ficará entre dois e quatro, exemplo: <b>1:1, 2:0, 2:1, 2:2, 3:0, 3:1, 0:2, 1:2, 0:3, 1:3, 0:4</b>. Se o total de gols ultrapassar quatro, a aposta é perdida.
            </li>
            <li>
                <b class="brown">Total Goal Ranges: 2 - 5</b>
                Aqui você aposta que o total de gols na partida ficará entre dois e cinco. Se o total de gols ultrapassar cinco, a aposta é perdida.
            </li>
        </ul>
    </div>

    <div class="maanaBands">
        <h2 class="h2" id="maana" style="font-size: 16px;">Significado de Goal Bands</h2>
        <p class="p">
            Aqui você aposta na quantidade total de gols que serão marcados por ambos os times nos 90+ minutos da partida.
        </p>
        <ul>
            <li>
                <b class="brown">Goal Bands: 2 - 4</b>
                Aqui você aposta que o total de gols na partida ficará entre dois e quatro, exemplo: <b>1:1, 2:0, 2:1, 2:2, 3:0, 3:1, 0:2, 1:2, 0:3, 1:3, 0:4</b>. Se o total de gols ultrapassar quatro, a aposta é perdida.
            </li>
            <li>
                <b class="brown">Goal Bands: 2 - 5</b>
                Aqui você aposta que o total de gols na partida ficará entre dois e cinco. Se o total de gols ultrapassar cinco, a aposta é perdida.
            </li>
        </ul>
    </div>

    <div class="maanaSentOff">
        <h2 class="h2" id="maana" style="font-size: 16px;">Significado de Player Sent Off?</h2>
        <p class="p">
            <b>Player Sent Off?</b> Neste mercado, você aposta se haverá ou não um cartão vermelho durante toda a partida!
        </p>
        <ul>
            <li>
                <b class="brown">Player Sent-off? - No</b>
                Aqui você aposta que não haverá expulsão por cartão vermelho. "No" é mais fácil de ganhar e tem odds mais baixas.
            </li>
            <li>
                <b class="brown">Player Sent-off? - Yes</b>
                Aqui você aposta que haverá pelo menos um cartão vermelho durante a partida. "Yes" é mais difícil e tem odds mais altas.
            </li>
        </ul>
    </div>
</div>