<!-- <div class="maana">
    <h2 class="h2" id="maana-vifupi" style="font-size: 16px;">Mkeka wa Leo | WhatsApp Channel <i class="fa-brands fa-whatsapp"></i></h2>
    <p class="p">
        <b>Sasa Tupo WhatsApp</b> Jiunge na channel yetu ya WhatsApp na uwe wa kwanza kupata mikeka yetu ya kila siku. Huku tunatoa mikeka na booking codes za uhakika <b>BURE!</b> <br><br>Kujiunga na channel yetu bonyeza button hapa chini
        <br><br>
        <a href="https://whatsapp.com/channel/0029Varb8MsFcow7AHYTL42h" target="_blank" rel="noopener noreferrer" id="vip_btn" class="vip" style="font-family: sans-serif;">
            <i class="fa-brands fa-whatsapp"></i>
            JIUNGE SASA!
        </a>
    </p>
</div> -->